In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [18]:
myData = pd.read_csv('https://raw.githubusercontent.com/sawrupesh04/DataCamp/master/Machine%20Learning/dataset/house-votes-84.csv')

In [20]:
myData.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [21]:
myData.replace({'y': 1, 'n': 0, '?': np.nan}, inplace=True)

In [22]:
myData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 17 columns):
republican    434 non-null object
n             422 non-null float64
y             386 non-null float64
n.1           423 non-null float64
y.1           423 non-null float64
y.2           419 non-null float64
y.3           423 non-null float64
n.2           420 non-null float64
n.3           419 non-null float64
n.4           412 non-null float64
y.4           427 non-null float64
?             414 non-null float64
y.5           403 non-null float64
y.6           409 non-null float64
y.7           417 non-null float64
n.5           406 non-null float64
y.8           330 non-null float64
dtypes: float64(16), object(1)
memory usage: 57.7+ KB

In [26]:
tempData = myData.dropna()

In [27]:
tempData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232 entries, 4 to 430
Data columns (total 17 columns):
republican    232 non-null object
n             232 non-null float64
y             232 non-null float64
n.1           232 non-null float64
y.1           232 non-null float64
y.2           232 non-null float64
y.3           232 non-null float64
n.2           232 non-null float64
n.3           232 non-null float64
n.4           232 non-null float64
y.4           232 non-null float64
?             232 non-null float64
y.5           232 non-null float64
y.6           232 non-null float64
y.7           232 non-null float64
n.5           232 non-null float64
y.8           232 non-null float64
dtypes: float64(16), object(1)
memory usage: 32.6+ KB

In [29]:
X = tempData.drop('republican', axis=1).values
y = tempData['republican'].values

In [31]:
X

array([[0., 1., 1., ..., 1., 1., 1.],
       [0., 1., 0., ..., 1., 0., 1.],
       [1., 1., 1., ..., 0., 1., 1.],
       ...,
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 0., 1., ..., 1., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.]])